hr.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
hr.hr-text::before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
hr.hr-text::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;

  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}

.body-background {
  background-color: #F2F2F0;
  width: 100vw;
  height: 100vh;
  min-height: 768px;

  border: 2px solid red;
}
.app-window {
  margin: 4vh;
  height: 92vh;
  width: calc(100vw - 8vh);
  min-height:calc(768px - 8vh) ;
}
:root {
  --green500: #19bd06;
  --brightWhiteFont: #FFF;
  --green100: #f7fbf7;
  --green250: #d1fbd1;
  font-size: 24px;
}

@media only screen and (max-width : 1200px ) {
  :root {
    font-size: 20px;
  }
}

@media only screen and (max-width : 992px ) {
  :root {
    font-size: 16px;
  }
  .app-window {
    margin: 0;
    height: 100vh;
    width: 100vw;
  }
}

@media only screen and (max-width : 768px ) {
  :root {
    font-size: 16px;
  }
  .app-window {
    margin: 4vh;
    height: 92vh;
    width: calc(100vw - 8vh);
  }
}

.light_mode_header {
  background-color: var(--green500);
  color: var(--brightWhiteFont);
  font-size: 1rem;
  height: 2.5rem;
}
.dark_mode_header {}

.profile_image {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.8rem;
  margin-left: 0.2rem;
  background-color: var(--brightWhiteFont);
  padding: 0.1rem;
}

.light_header_button {
  color: var(--brightWhiteFont);
  opacity: 0.8;
}
:hover.light_header_button{
  color:var(--brightWhiteFont);
  opacity: 1;
  cursor: pointer;
}
.button_header_dark {

}

.search_input {
  background-color:var(--brightWhiteFont);
  height: 1.5rem;
  padding: 0;
  padding-left: 0.5rem;
  outline: none;
  border:none;
  font-size: 0.8rem;
}

.chats_users_list {
  height: calc(100% - 4rem);
  background-color: var(--green100); 
}

.chat_user_card {
  background-color: #fef7e4;
  height: 2.8rem;
  border-bottom: 1px solid var(--brightWhiteFont);
}

.search_cancel {
  background-color: var(--brightWhiteFont);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.5rem;
}

.message_input {
  resize: none;
  outline: none;
  border:none;
  font-size: 1rem;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  line-height: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  height: 1.5rem;
}

.send_button {
  cursor: "pointer";
  display: flex;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  justify-content: center;
  background-color: var(--green500);
  color: var(--brightWhiteFont);    
}
.send_button_deactivated {
}
.chatbox {
  background-color: #fef7e4;
  font-size: 0.8rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.message_section {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: calc(100% - 2.5rem);
  background-color: var(--green100);
  border-left: "1px solid white"
}
.message_list {
  display: flex;
  flex-direction: column-reverse;
}

.message_card {
  max-width: 80%;
  background-color: var(--green250);
  border-radius: 0.2rem;
  width: fit-content;
  padding: 1px;
}

.self_message {
  margin-right: 0;
  margin-left: auto;
}